body {
    margin: 0;
    height:2000px;
}

header {
    background-color: rgb(184, 103, 0);
    width:100%;
    height: 60px;
    z-index: 2;
    position: fixed
    
}

.logo {
    float: left;
    width:54px;
    padding:6px 0px 0px 100px
}

nav ul {
    margin:0px 0px 0px 450px;
    padding:0px;
    text-align: center;
    
    z-index: 2;
    position:fixed;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    font-size: 25px;
    margin: 6px 30px;
    display: inline-block;
    text-decoration:none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
}

nav ul li a:hover{
    color:aliceblue;
    
}


.equipe {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 1000px;
    color:white;
    position:absolute;
    padding:195px 90px;
    z-index: 1;
    font-size:40px;
}
.tchebaja{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 1000;
    font-size:90px;
    color:white;
    position:absolute;
    padding:230px 70px;
    z-index: 1; 
}


.foto-baja {
    MARGIN-top:60px;
    width:100%;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    font-weight: 1000;
    padding: 30px 0px 20px 70px;
}

#quem-somos {
    height:700px;
}

#quem-somos p{
    margin:0px 0px 0px 50px;
    font-size: 18px;
    text-align: justify;
}

#quem-somos img{
    float: right;
    height:300px;
    margin: 10px 0px    0px 10px;  ;
}

#quem {
    width:50%;
    height:700px;
    position: absolute;
    border-right: 1px solid black;
    padding-right:  20px;
}
#historia {
    width:46%;
    position:relative;
    margin-left:50%;
}
#relatos {
    height: 500px;
    background: #777; 
    margin-bottom:  ng-bottom: 50px;
}

#fotos {
    height: 450px;
    background: #fff;
}
#parceiros {
    height: 450px;
    background: #c96;
}

#patrocinadores {
    height: 600px;
}


footer .row {
    width: 100%;
}

footer .row-cinza-claro {
    padding-top:10px;
    height: 100px;
    background-color: rgba(48,48,48,1);
}

footer .row-cinza-escuro {
    height: 60px;
    background-color: rgba(8,8,8,1);
    border-top:#242D37 1px solid;
}

footer .enderecoParte1 {
    margin-top: 20px;
    font-family: 'Titillium Web', sans-serif;
    text-align: right;
    color: white;
    line-height: 10px; 
    margin-right: 30px;
}

footer .enderecoParte2 {
    font-family: 'Titillium Web', sans-serif;
    text-align: right;
    color: white;
    line-height: 10px; 
    margin-right: 30px;
}

footer .enderecoParte3 {
    font-family: 'Titillium Web', sans-serif;
    text-align: right;
    color: white;
    line-height: 10px; 
    margin-right: 30px;
}

footer .Copyright {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: grey;
    margin-top: 10px;
    line-height: 8px;
}

footer .Desenvolvido {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: grey;
    line-height: 8px;
    margin-bottom: 15px;
}